
<div class="container">
  <section class="chats">
    <h2>Your Chats</h2>
    <div class="chat-box">
      <button>Anna Smith</button>
      <button>David Johnson</button>
      <button style="background: #69DB67">Emily Brown</button>
      <button>Michael Davis</button>
      <button>Sophia Wilson</button>
      <button>James Miller</button>
      <button>Olivia Taylor</button>
      <button>William Anderson</button>
      <button>Ava Thomas</button>
      <button>John Harris</button>
      <button>Isabella Martinez</button>
      <button>Christopher Jones</button>
      <button>Mia White</button>

    </div>
  </section>

  <section class="message-section">
    <app-chats></app-chats>
  </section>

</div>
