
<header style="background: #9494C2; height: 60px"></header>

  <div class="container">

    <h2>Personal Information</h2>

    <div class="content">

      <div class="image">
        <h3>For You</h3>
        <img src="https://images.pexels.com/photos/4862429/pexels-photo-4862429.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
      </div>

      <form action="">
        <div class="information">
          <div class="input-box">
            <label>Names</label>
            <input type="text">
          </div>

          <div class="input-box">
            <label>Last Names</label>
            <input type="text">
          </div>

          <div class="input-box email">
            <label>Email</label>
            <input type="email">
          </div>

          <div class="input-box">
            <label>Date of Birth</label>
            <input type="date">
          </div>

          <div class="input-box">
            <label>N° mobile phone</label>
            <input type="number">
          </div>

          <div class="input-box situation">
            <label>Medical Situation</label>
            <textarea></textarea>
          </div>
        </div>
        <button type="submit">Save</button>
      </form>

    </div>
  </div>

<header style="background: #6C6B6B; height: 60px"></header>
