
<div class="container">
  <section>
    <h3>REGISTER NOW</h3>
    <p>Already have account? <span routerLink="/login">Login here</span></p>
    <form (ngSubmit)="addUser()" [formGroup]="formRegister">
      <div class="input-box">
        <label>Name</label>
        <input type="text" placeholder="Enter your name here" formControlName="name">
      </div>
      <div class="input-box">
        <label>Last Name</label>
        <input type="text" placeholder="Enter your last name here" formControlName="lastName">
      </div>
      <div class="input-box">
        <label>Email</label>
        <input type="email" placeholder="Enter your email here" formControlName="username">
      </div>
      <div class="input-box">
        <label>Password</label>
        <input type="password" placeholder="Create your password" formControlName="password">
      </div>
      <div class="input-box">
        <label>Password</label>
        <input type="password" placeholder="Re-enter your password">
      </div>
      <button type="submit" >Register</button>
    </form>
  </section>
    <img src="./assets/images/registerImg.png" alt="" class="imgForm">
</div>
