
footer{
  background-color: #002C3E;
  padding: 20px;
}
footer p{
  margin: 0;
  color: white;
  padding:10px;
  font-size: 1em;
}
footer .container{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  text-align: center;
}

footer .container img{
  height: 43px;
  width: 100px;
  margin: 15px;
}
@media (min-width: 700px){

  footer .container{
    flex-direction: row;
    justify-content: space-evenly;
  }
}
