
<div class="filter-box">
  <div class="filter-options">
    <button>Departments</button>
    <button>Rooms</button>
    <button>Commercial Space</button>
    <button>Houses</button>
  </div>
</div>

<section class="post" *ngFor="let post of posts" >
  <div class="imgPost">
    <span>{{getPropertyById(post.propertyId)?.category}}</span>
  </div>
  <div class="infoPost">
    <p id="tittle">{{post.title}}</p>
    <p id="price">$  {{post.price}}</p>
    <p id="description">{{getPropertyById(post.propertyId)?.description}}</p>
    <button id="showMore" routerLink="/see-post/{{post.id}}">Show more</button>
    <span></span>
    <button id="reserve">Reserve</button>
  </div>
</section>

