
<div class="filter-box">
  <div class="filter-options">
    <button>Departments</button>
    <button>Rooms</button>
    <button>Commercial Space</button>
    <button>Houses</button>
  </div>
</div>

<section class="post">
  <div class="imgPost">
    <span>Department</span>
  </div>
  <div class="infoPost">
    <p id="tittle">Cozy Mountain Retreat with Stunning Views</p>
    <p id="price">$  150</p>
    <p id="description">Welcome to our charming mountain retreat nestled in the heart of nature! If you're seeking a
      serene getaway with breathtaking views, this is the perfect place for you. Our cozy cabin is
      situated high in the mountains, offering unparalleled vistas of lush forests and rolling hills.
      With a rustic yet modern design, it provides all the comforts of home while allowing you to
      disconnect from the hustle and bustle of everyday life.</p>
    <button id="showMore">Show more</button>
    <span></span>
    <button id="reserve">Reserve</button>
  </div>
</section>

