
header{
  background: #002C3E;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center{
  display: grid;
  place-items: center;
}

img{
  margin: 5px;
}
.imgLogo{
  width: 7rem;
}

#imgMessage{
  width: 2.5rem;
  cursor: pointer;
}
#imgUser{
  width: 3rem;
  margin-right: 10px;
  cursor: pointer;
}

.options{
  width: 100%;
  display: flex;
  align-items: center;
}
.options img{
  transition: 0.3s;
}
.options img:hover{
  transform: scale(1.2);
}
span {
  flex: 1 1 auto;
}

button{
  margin-left: 10px;
  background: #E7EFF6;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
}
button:hover{
  transform: scale(1.2);
}

@media (min-width: 700px){

  header {
    flex-direction: row;
  }
  .imgLogo{
    margin-left: 50px;
  }
  #imgUser{
    margin-right: 50px;
  }
}
