<section class="container" *ngIf="user">
  <section class="post">
    <h2>{{post.title}}</h2>
    <div class="post-box">
      <div class="name">
        <div class="imgPost">
          <span>{{property.category}}</span>
        </div>
        <p><a href="see-profile/{{property.authorId}}">{{user.name}} {{user.lastName}}</a></p>
      </div>

      <div class="post-info">
        <p id="description">{{property.description}}</p>
        <p id="characteristics">{{property.characteristics}}</p>
        <button id="reserve">Reserve</button>
        <span></span>
        <button id="price">$  {{post.price}}</button>
      </div>

    </div>
  </section>

  <section class="section-comment">
    <section class="comment-box">
      <label>Comments</label>
      <div class="comment">
        <app-comments></app-comments>
      </div>
    </section>

    <section class="write-comment">
      <textarea></textarea>
      <button> <mat-icon>send</mat-icon>  </button>
    </section>
  </section>
</section>
