<section class="container" *ngIf="post">
  <section class="post">
    <h2>{{post.title}}</h2>
    <div class="post-box">
      <div class="name">
        <div class="imgPost" style="background-image: url({{post.property.urlImg}})">
          <span>{{post.property.category}}</span>
        </div>
        <p>
          <a href="see-profile/{{post.property.authorId}}">{{post.author.name}} {{post.author.lastName}}</a>
        </p>
      </div>

      <div class="post-info">
        <p id="description">{{post.property.description}}</p>
        <p id="characteristics">{{post.property.characteristics}}</p>
        <button id="reserve" (click)="changeReservation(post.property.id)"

        >{{reservedByUserLoged?'Cancel Reserve':'Reserve'}}</button>
        <span></span>
        <button id="price">$  {{post.price}}</button>
      </div>

    </div>
  </section>

  <section class="section-comment" *ngIf="comments">
    <section class="comment-box">
      <label>Comments</label>
      <div class="comment">
        <app-comments
          [comments]="comments"
        ></app-comments>
      </div>
    </section>

    <section class="write-comment">
      <textarea
        (input)="onCommentInput($event)" [(ngModel)]="writtenComment"
      ></textarea>
      <button (click)="addComment()"> <mat-icon>send</mat-icon>  </button>
    </section>
  </section>
</section>
