<mat-card-title>FORUM</mat-card-title>

<mat-card-subtitle>
  <p>¿Cuál es el precio promedio de un departamento en Surco?</p>
</mat-card-subtitle>

<mat-card>

  <mat-card-content>
    <div class="row">
      <div class="elemento">
        <img src="assets/images/imgUser.png" alt="">
      </div>
      <div class="elemento">
        <p>¿Cuál es el precio promedio de un departamento en Surco?</p>
      </div>
    </div>
  </mat-card-content>

  <mat-card-content>
    <div class="row">
      <div class="elemento">
        <img src="assets/images/imgUser.png" alt="">
      </div>
      <div class="elemento">
        <p>¿Cuál es el precio promedio de un departamento en Surco?</p>
      </div>
    </div>
  </mat-card-content>

  <mat-card-content>
    <div class="row">
      <div class="elemento">
        <img src="assets/images/imgUser.png" alt="">
      </div>
      <div class="elemento">
        <p>¿Cuál es el precio promedio de un departamento en Surco?</p>
      </div>
    </div>
  </mat-card-content>

  <form class="form-reply">
    <mat-form-field class="reply-full-width">
      <div class="rowsend"  style="display:flex;justify-content: space-between">
      <div class="form-text">
      <input type="text" matInput placeholder="R e p l y . . . ">
      </div>
      <div class="form-button" color="#002C3E">
      <button type="submit" style="justify-content: end; background-color: #002C3E; color: #E7EFF6">
        <mat-icon >send</mat-icon>
      </button>
      </div>
      </div>
    </mat-form-field>
  </form>

</mat-card>


