<mat-card-title>FORUM</mat-card-title>

<mat-card-subtitle>
  <p>¿Cuál es el precio promedio de un departamento en Surco?</p>
</mat-card-subtitle>

<mat-card>

  <div class="container">

    <mat-card-content>
      <img src="assets/images/imgUser.png" alt="">
      <a>¿Cuál es el precio promedio de un departamento en Surco?</a>
    </mat-card-content>
    <mat-card-content>
      <img src="assets/images/imgUser.png" alt="">
      <a>¿Cuál es el precio promedio de un departamento en Surco?</a>
    </mat-card-content>
    <mat-card-content>
      <img src="assets/images/imgUser.png" alt="">
      <a>¿Cuál es el precio promedio de un departamento en Surco?</a>
    </mat-card-content>
    <mat-card-content>
      <img src="assets/images/imgUser.png" alt="">
      <a>¿Cuál es el precio promedio de un departamento en Surco?</a>
    </mat-card-content>
    <mat-card-content>
      <img src="assets/images/imgUser.png" alt="">
      <a>¿Cuál es el precio promedio de un departamento en Surco?</a>
    </mat-card-content>
    <mat-card-content>
      <img src="assets/images/imgUser.png" alt="">
      <a>¿Cuál es el precio promedio de un departamento en Surco?</a>
    </mat-card-content>
    <mat-card-content>
      <img src="assets/images/imgUser.png" alt="">
      <a>¿Cuál es el precio promedio de un departamento en Surco?</a>
    </mat-card-content>
    <mat-card-content>
      <img src="assets/images/imgUser.png" alt="">
      <a>¿Cuál es el precio promedio de un departamento en Surco?</a>
    </mat-card-content>

  </div>

    <section class="comment">
      <div class="comment-input">
        <textarea class="comment-textarea" placeholder="Add a comment..."></textarea>
        <button class="comment-button">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </section>


</mat-card>


