 <mat-card-title>FORUM</mat-card-title>

 <mat-card>
   <div class="new-button">
     <button mat-flat-button >New Forum</button>
   </div>

   <mat-card-content>
   <div class="row">
     <div class="elemento">
       <img src="assets/images/imgUser.png" alt="">
     </div>
     <div class="elemento">
       <p>¿Cuál es el precio promedio de un departamento en Surco?</p>
     </div>
     <div class="elemento">
       <button mat-raised-button style="background-color: #67A1DB; color: #E7EFF6">Show more</button>
     </div>
   </div>
   </mat-card-content>

   <mat-card-content>
     <div class="row">
       <div class="elemento">
         <img src="assets/images/imgUser.png" alt="">
       </div>
       <div class="elemento">
         <p>¿Cuál es el precio promedio de un departamento en Surco?</p>
       </div>
       <div class="elemento">
         <button mat-raised-button style="background-color: #67A1DB; color: #E7EFF6">Show more</button>
       </div>
     </div>
   </mat-card-content>

   <mat-card-content>
     <div class="row">
       <div class="elemento">
         <img src="assets/images/imgUser.png" alt="">
       </div>
       <div class="elemento">
         <p>¿Cuál es el precio promedio de un departamento en Surco?</p>
       </div>
       <div class="elemento">
         <button mat-raised-button style="background-color: #67A1DB; color: #E7EFF6">Show more</button>
       </div>
     </div>
   </mat-card-content>

 </mat-card>

