<body>

<div class="table-container">
  <h1>Clients History</h1>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Lastname</th>
      <th>Gender</th>
      <th>Name Property</th>
      <th>Date</th>
      <th>State</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let client of clients">
      <td>{{client.name}}</td>
      <td>{{client.lastName}}</td>
      <td>{{client.gender}}</td>
      <td>{{client.property.name}}</td>
      <td>{{client.createdAt}}</td>
      <td>
        <button
          (click)="changeActive(client.property.id)"
          *ngIf="client.isAsset"
        >delete</button>
      </td>
    </tr>

    </tbody>
  </table>
</div>
</body>
