
.message-box{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content{
  padding: 5px 20px;
  border-radius: 10px;
  margin: 3px 0;
  max-width: 70%;
  color: white;
  font-weight: 500;
  font-size: 0.8rem;
}
.sent {
  background-color: #282B2F;
  align-self: flex-end;
}
.received {
  background-color: #73757e;
  align-self: flex-start;
}
span{
    font-size: 9px;
}
@media (min-width: 720px) {
  .content{
    font-size: 0.9rem;
  }
}
