

<div class="show-comment">
  <span>Edwin Lopez</span>
  <p>  skg sg s slg sgsg .comments
    width: 80%; height: 200px;
    overflow-y: scroll; /* Cambiamos a overflow-y */
    overflow-x: hidden; /* Oculta el scroll horizontal */
    margin: auto; background: white;
    white-space: nowrap; /* Evita el ajuste automático de línea */
  </p>
</div>

<div class="show-comment">
  <span>Edwin Lopez</span>
  <p>  skg sg s slg sgsg .comments
    width: 80%; height: 200px;
    overflow-y: scroll; /* Cambiamos a overflow-y */
    overflow-x: hidden; /* Oculta el scroll horizontal */
    margin: auto; background: white;
    white-space: nowrap; /* Evita el ajuste automático de línea */
  </p>
</div>

<div class="show-comment">
  <span>Edwin Lopez</span>
  <p>  skg sg s slg sgsg .comments
    width: 80%; height: 200px;
    overflow-y: scroll; /* Cambiamos a overflow-y */
    overflow-x: hidden; /* Oculta el scroll horizontal */
    margin: auto; background: white;
    white-space: nowrap; /* Evita el ajuste automático de línea */
  </p>
</div>


<div class="show-comment">
  <span>Edwin Lopez</span>
  <p>  skg sg s slg sgsg .comments
    width: 80%; height: 200px;
    overflow-y: scroll; /* Cambiamos a overflow-y */
    overflow-x: hidden; /* Oculta el scroll horizontal */
    margin: auto; background: white;
    white-space: nowrap; /* Evita el ajuste automático de línea */
  </p>
</div>



