<div class="table-container">
  <table>
    <thead>
    <tr>
      <th>Person Name</th>
      <th>Property</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let reservation of reservations">
      <td>{{reservation.author.name}} {{reservation.author.lastName}}</td>
      <td>{{reservation.property.name}}</td>
      <td>
        <button class="btn-aceptar"
                (click)="acceptReservation(reservation.property.id, reservation.author.id)"
        >Accept</button>
        <button class="btn-rechazar"
                (click)="cancelReservation(reservation.property.id, reservation.author.id)"
        >Decline </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
