
.login-text {
  font-size: 26px;
}

.login-form {
  background-color: rgba(103, 161, 219, 0.2);
  padding: 50px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  border: 1px solid gray;
  margin: 10rem auto;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid gray;
  text-align: center;
}

.login-form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: none;
  background-color: #002C3E;
  color: white;
}
.logo {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  width: 30%;
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 18px;
  }

  .header-logo, .footer-logo {
    width: 50%;
    height: auto;
  }

  .login-form {
    width: 80%;
    padding: 20px;
  }
}

@media only screen and (min-width: 601px) {
  body {
    font-size: 16px;
  }

  .header-logo, .footer-logo {
    width: 190px;
    height: 61.5px;
  }

  .login-form {
    width: 300px;
    padding: 50px;
  }
}

@media only screen and (max-width: 320px) {
  body {
    font-size: 14px;
  }

  .header-logo, .footer-logo {
    width: 50%;
    height: auto;
  }

  .login-form {
    width: 80%;
    padding: 20px;
  }
}

@media only screen and (max-width: 375px) {
  body {
    font-size: 16px;
  }

  .header-logo, .footer-logo {
    width: 60%;
    height: auto;
  }

  .login-form {
    width: 85%;
    padding: 30px;
  }
}

@media only screen and (max-width: 414px) {
  body {
    font-size: 18px;
  }

  .header-logo, .footer-logo {
    width: 70%;
    height: auto;
  }

  .login-form {
    width: 90%;
    padding: 40px;
  }
}

@media only screen and (min-width: 415px) {
  body {
    font-size: 20px;
  }

  .header-logo, .footer-logo {
    width: 190px;
    height: auto;
  }

  .login-form {
    width:300px;
    padding:50px;
  }
}



