mat-card-title{
  margin:1.5rem;
  text-align: center;
  color: #002C3E;
  font-size: 1.7rem;
  font-weight: bold;
}
mat-card-subtitle{
  margin:1.3rem;
  text-align: center;
  color: #002C3E;
  font-size: 1.3rem;
  font-weight: bolder;
}
mat-card{
  background-color: #2271B3;
  padding: 10px;
  width: 90%;
  margin: auto;
  max-width: 600px;
  max-height: 500px;
}
.container{
  overflow-y: scroll;
  width: 90%;
  margin: auto;
}
.container::-webkit-scrollbar {
  width: 0.5em;
}
.container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}

mat-card-content{
  margin: 8px auto;
  padding: 1rem;
  background-color: #B7D5E5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}


img{
  width: 3.5rem;
  margin-right: 1rem;
}

.comment {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto 0;
  width: 85%;
}

.comment-input {
  display: flex;
  align-items: center;
  flex: 1;
}

.comment-textarea {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
}

.comment-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.comment-button:hover {
  background-color: #0056b3;
}
.comment-button:active {
  transform: scale(0.8);
}
.answers{
  display: flex;
  flex-direction: column;
}
.answers a{
  font-weight: bolder;
  margin-bottom: 5px;
}

.space{
  margin: auto;
}
