
.container{
  margin-top: 2rem;
}
.user{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photoUser{
  width: 120px;
  height: 120px;
  background-image:url("https://cdn-icons-png.flaticon.com/512/1144/1144760.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.photoUser label{
  background: #064789;
  color: white;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 5px 15px;
  border-radius: 5px;
}

form {
  width: 80%;
  margin: 10px auto;
}
.input-box{
  display: flex;
  align-items: center;
  justify-content: start;
}
.input-box label{
  flex: 1;
  text-align: right;
  padding-right: 10px;
  color: #0056b3;
  font-weight: bold;
}
.input-info{
  flex: 3;
  width: 100%;
  min-width: 160px;
  margin: 5px auto;
  padding: 8px 15px;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  background: #D9D9D9;
}
textarea{
  height: 50px;
  resize: none;
}

form button {
  display: block;
  margin: 30px auto 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background: #002C3E;
  padding: 8px 50px;
  width: 90%;
  max-width: 300px;
}

.actions{
  margin: 20px auto;
  width: 70%;
  max-width: 300px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem 1.5rem;
}
.actions button{
  border: none;
  color: white;
  font-weight: bold;
  background: #67A1DB;
  padding: 8px;
}
.btnCancel{
  grid-column: span 2;
}

@media (min-width: 750px) {

  .container{
    max-width: 1000px;
    margin: 10px auto 0;
  }
  .profile{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
  }
  .input-box label{
    text-align: left;
    flex: 0;
    white-space: nowrap;
    font-size: 1rem;
  }
  .edit-info{
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.3rem 0.8rem;
  }

  .input-box{
    width: 100%;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;

  }
  .input-info{
    font-size: 1rem;
  }

  textarea{
    height: 80px;
  }

  .actions{
    margin-top: 50px;
    grid-template-columns: repeat(3,1fr);
    max-width: 500px;
  }
  .btnCancel{
    grid-column: span 1;
    grid-row: span 2;
  }

}



.alert {
  background-color: #ffcccc;
  border: 1px solid #ff0000;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #ff0000;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 50%;
  height: 20%;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alert-icon {
  margin-right: 10px;
  font-weight: bold;
}

.alert p{
  align-items: center;
}




