

<div class="container">
  <h1>Your Properties</h1>

  <table>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Category</th>
      <th>Available</th>
      <th>Actions</th>
    </tr>

    <tr *ngFor="let property of properties">
      <td class="imgProperty"><img src="{{property.urlImg}}" alt="Image"></td>
      <td>{{property.description}}</td>
      <td>{{property.category}}</td>
      <td>{{property.available ? 'Yes' : 'No'}}</td>
      <td>
        <mat-icon>edit</mat-icon>
        <mat-icon>delete</mat-icon>
      </td>
    </tr>
  </table>
</div>

