<div class="container">

  <section *ngIf="showForm">
    <app-property-form
      [isInProperties]="true"
      [editMode]="edit"
      [property]="propertyToEdit"
      (cancelEdit)="cancelEdit($event)"
      (editProperty)="editProperty($event)"

    ></app-property-form>
  </section>

  <h1>Your Properties</h1>
  <button
    *ngIf="!showForm"
    (click)="showFormProperty()"
  >Add Property</button>

  <table>
    <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Category</th>
      <th>Available</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let property of properties">
      <td class="imgProperty">
        <img [src]="property.urlImg" alt="Property Image"
             style="width: 80px; height: 80px">
      </td>
      <td>{{ property.name }}</td>
      <td>{{ property.category }}</td>
      <td class="editable">
        <select [(ngModel)]="property.available">
          <option [ngValue]="true">Yes</option>
          <option [ngValue]="false">No</option>
        </select>
      </td>

      <td>
        <button class="btn-aceptar"
          (click)="onEditMode(property)"
        >Edit</button>
        <button class="btn-rechazar"
                (click)="deletePropertyById(property.id)" *ngIf="!property.isPosted"
        >Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
