.container{
  display: grid;
  place-items: center;
}

.title{
  font-weight: bold;
  text-align: center;
  color: #002C3E;
  font-size: x-large;
  margin-top: 2rem;
}
form{
  background: white;
  padding: 2rem;
  border-radius: 2rem;
  margin: 20px auto;
  width: 70%;
  max-width: 600px;
}
.form-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
.button-post{
  background: #3C84AB;
  padding: 15px;
  margin: 20px auto;
  display: block;
  width: 70%;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  font-size: large;
  border: none;
}
.button-post:hover{
  background: #205E61;
  color: black;
  transform: scale(1);
}

.addProperty{
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  width: 50%;
  max-width: 250px;
  background: #5ab3d5;
  font-weight: bolder;
  font-size: 1.3rem;
  margin-bottom: 10px;
  transition: 0.3s;
}
.addProperty:hover{
  transform: scale(1.06);
}
@media (min-width: 720px) {

  .form-body {
    grid-template-columns: repeat(2,1fr);
    display: grid;
    gap: 0.3rem 2rem;
  }
  .form-field-title{
    grid-column: span 2;
  }

}


form {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
}

.mat-form-field {
  width: 100%;
}

.button-post {
  background: #3C84AB;
  padding: 15px 20px;
  margin: 20px auto;
  display: block;
  width: 50%;
  border-radius: 15px;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  border: none;
  transition: background 0.3s, color 0.3s, transform 0.3s;
}

.button-post:hover {
  background: #205E61;
  color: black;
  transform: scale(1.02);
}

.addProperty {
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  width: 50%;
  max-width: 250px;
  background: #5ab3d5;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.addProperty:hover {
  transform: scale(1.06);
}
