
<div class="container" *ngIf="user">
  <section class="profile">
    <div class="user">
      <div class="photoUser" style="background-image: url({{user.photoUrl}})">
        <label *ngIf="user.isPremium">Premium</label>
      </div>

      <div class="star-container">
        <ng-container *ngIf="user">
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
            <mat-icon class="star" [ngClass]="{'gold-star': user.rankPoints !== undefined && i < user.rankPoints}">star</mat-icon>
          </ng-container>
        </ng-container>
      </div>


    </div>

    <div class="info">
      <p id="name">{{user.lastName}} {{user.name}}</p>
      <p id="gender">{{user.gender}}</p>
      <p id="age">{{user.age}} Years</p>
      <p id="description">{{user.description}}</p>
      <span></span>
      <a id="send-message" (click)="changeSendMessage()">Send Message <mat-icon>send</mat-icon></a>
      <span></span>
    </div>
  </section>

  <section class="qualify">
    <label>Rate this user's profile</label>
    <p>
          <span *ngFor="let star of stars; let i = index">
            <span [ngClass]="{'selected': i < selectedStars}" (click)="selectStars(i+1)"> <mat-icon>star</mat-icon> </span>
          </span>
    </p>
    <button (click)="saveStars()">Qualify</button>
  </section>

</div>

  <section class="send-message" *ngIf="sendMessage">
    <h2>Send Message</h2>
    <div class="message-box">
      <label>To: {{user.lastName}} {{user.name}}</label>
      <div class="message">
        <label>Write message:</label>
        <textarea id="message"
                  (input)="onMessageInput($event)" [(ngModel)]="writingMessage"
        ></textarea>
      </div>
      <div class="buttons">
        <button class="send-button" (click)="addMessage()"> <mat-icon>send</mat-icon> </button>
        <button class="send-button " (click)="changeSendMessage()" style="background: #DB6767"> X </button>
      </div>
    </div>
  </section>

