
*{
  transition: .3s;
  box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0;padding:0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #E7EFF6;
}

button{
  cursor: pointer;
  transition: .3s;
}
button:hover{
  transform: scale(1.1);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
